In [1]:
import pandas as pd
import numpy as np
data=pd.read_csv('C://Users//asus//Downloads//titanic-passengers.csv',encoding = "ISO-8859-1", delimiter = ";")
data.describe()
data.isnull().sum()
data.drop(columns=['Cabin'], inplace = True)
data['Age'].fillna(data['Age'].mean(),inplace=True)
number_of_elements = len(data['Embarked'])
print("Number of elements: ", number_of_elements)
print(data['Embarked'].value_counts())
data['Embarked'].isnull().sum()
data['Embarked'].fillna("S", inplace = True)
data.head()

Number of elements:  891
S    644
C    168
Q     77
Name: Embarked, dtype: int64

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,343,No,2,"Collander, Mr. Erik Gustaf",male,28.0,0,0,248740,13.0000,S
1,76,No,3,"Moen, Mr. Sigurd Hansen",male,25.0,0,0,348123,7.6500,S
2,641,No,3,"Jensen, Mr. Hans Peder",male,20.0,0,0,350050,7.8542,S
3,568,No,3,"Palsson, Mrs. Nils (Alma Cornelia Berglund)",female,29.0,0,4,349909,21.0750,S
4,672,No,1,"Davidson, Mr. Thornton",male,31.0,1,0,F.C. 12750,52.0000,S

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
y=data[Age,Pclass]
x=data[Survived]
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20,random_state=30)
logre=LogisticRegression()
logreg.fit(x_train,y_train)
y_pred=logreg.predict(x_test)
confusion_matrix=pd.crossstab(y_test,y_pred,rownames=['Actual'],colnames=['predicted'])
print(confusion_matrix)
from sklearn_metrics import classification_report
print(classification_report(y_test,y_pred))
from sklearn.datasets import make_classification
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_curve
from sklearn.metrics import roc_auc_score
from matplotlib import pyplot
lr_probs = model.predict_proba(testX)
lr_probs = lr_probs[:, 1]
sns_auc = roc_auc_score(testy, ns_probs)
lr_auc = roc_auc_score(testy, lr_probs)
print('No Skill: ROC AUC=%.3f' % (ns_auc))
print('Logistic: ROC AUC=%.3f' % (lr_auc))
ns_fpr, ns_tpr, _ = roc_curve(testy, ns_probs)
lr_fpr, lr_tpr, _ = roc_curve(testy, lr_probs)
pyplot.plot(ns_fpr, ns_tpr, linestyle='--', label='No Skill')
pyplot.plot(lr_fpr, lr_tpr, marker='.', label='Logistic')
pyplot.xlabel('False Positive Rate')
pyplot.ylabel('True Positive Rate')
pyplot.legend()
pyplot.show()